<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Feser's Blog</title>
</head>

<body>
  <div>
  {% if user %}
    <span>{{user.user_id | safe}}<span>
    <a href="/logout" alt="logout">Logout</a>
  {% else %}
     <a href="/login" alt="login">Login</a>
     <a href="/signup" alt="signup">Signup</a>
  {% endif %}
  <a href="/" alt="Mainpage">Main page</a>
  </div>
  <div class="main-title">
    Feser's Blog
  </div>
  {% if user %}
    <a href="/newpost" alt="newpost">New Post</a>
  {% endif %}
  <br/><br/>
  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

